/* CSS Document */

body {
	background-color:white;
	
}
#mainmenu{ 
	margin:0;
	padding:0;
}
#mainmenu li{
	display:inline;
	padding:0 1 0 0;
}



h1{
	text-transform: uppercase;
	text-align: center;
	background-color: white;
	color:black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}
P{
	font-size:18px;
	font-family:Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	font-width:normal;
	color:black;
	text-align: justify;
	line-height: 150%;
	}
a{text-decoration: none;}

h2{
	font-size:35px;
    background-color: darkgray;
	text-align: center;
	color:black;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


a;hover:
{color:#f00;
}
 
<style>
img{
	max-width:75%;
	height:auto;
	
}
</style>

div.fixed{
position:fixed;
	bottom:0;
	right:0;
	width:300px;
	
	
}
